<style>body {
    padding: 0px;
    margin: 0px;
    background-color:  #e6e6e6;
}

.container {}

.nav-logo {
    margin-left: -10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar {
    background-color: #1a881f;
    width: 100%;
    height: 80.5px;
    position: sticky;
    Z-index: 10;
    top: 0px;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-items {

    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.nav-img {
    height: 30px;
    margin-right: 6px;
    border-radius: 50%;
}

.nav-text {
    font-size: 25px;
    font-weight: bold;
    color: black;

}

.nav-items:hover {
    background-color: #e236b7;
    transition: 1s;
}

.about-1st-div {
    position: relative;
    top: -25px;
    height: 500px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.subtitle {
    position: absolute;
    margin-top: 100px;
    left: 300px;
    padding: 0px;
    font-size: 65px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.span
{position: absolute;
    margin-top:300px;
    left: 30px;
    padding: 0px;
    font-size: 40px;
    color: rgb(236, 104, 4);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.about-img {
    height: 500px;
    width: 600px;
    position: absolute;
    top: -1px;
    left: 1050px
}

.marquee {
    position: absolute;
    margin-top: -30px;
    font-size: 30px;
    background-color: rgb(35, 33, 33);
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

.subtitle-box {
   
    height: 900px;
    width: 100%;
    background-color: #e6e6e6;
}
.subtitle-heading
{
    margin-top: 50px;
    text-decoration:none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 45px;
    color:rgb(20, 20, 20);
}
.city-container
{
    display: flex;
    justify-content:space-evenly;
    gap: 20px;
    margin-top: 50px;
}
.city{
    color: #2f7bf5;
    font-size: 23px;
    font-weight: bold;
   
}
.subtitle-sub
{
    
    text-align: center;
    margin-top: px;
    font-size: 45px;
    color:rgb(20, 20, 20);
}
.row-con
{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}
.qute
{
    text-align: center;
    margin-top: 40px;
    font-size: 45px;
    color:rgb(20, 20, 20);
}

.btn
{

}
</style>