body {
    padding: 0;
    margin: 0;
    background-image: url(./../images/img.jpeg);
}

.nav-logo {
    margin-left: -10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar {
    background-color: #116415;
    width: 100%;
    height: 60.5px;
    position: fixed;
    top: 0px;
    margin: 0px;
    padding: 0px;
    border-bottom: 5px solid rgb(4,51,4);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-items {

    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.nav-img {
    height: 30px;
    margin-right: 6px;
    border-radius: 50%;
}

.nav-text {
    font-size: 25px;
    font-weight: bold;
    color: rgb(19, 4, 4);

}

.nav-items:hover {
    background-color: #5b7b5d;
    transition: 1s;
}
.container{
    padding-top: 50px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 30px;
    display: flexbox;
    justify-content: space-evenly;
    align-items: center;
}
.header{
    text-align: center;
    padding-top: 70px;
    color: #ac1010;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cat-card {
    background-color: #F6EEC9;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    width: calc(25% - 40px);
    box-shadow: 2px 2px 10px 5px rgba(138, 136, 136);
    float: left;
    text-align: center;
    padding-left: 10;

    
}
.cat-card img {
    max-width: 150px;
    height: 120px;
    border-radius: 15px;
    border: solid #ac1010 1px;
    height: auto;
    transition: transform 0.3s;
}
.cat-card img:hover:hover {
    transform: scale(1.1);
}
.cat-img{
    max-width: 150px;
    height: 120px;

}


.cat-card h2 {
    margin: 10px 0;
    color: #495057;
}
.cat-card p {
    margin: 5px 0;
    color: #6c757d;
}
.adopt-btn {
    background-color: #EE4E4E;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: transform 0.3s;
}
.adopt-btn:hover {
    background-color:#ac1010;
    transform: scale(1.1);
}
.cat-info{
    text-decoration: none;
    color: #6c757d;
}
