body {
    padding: 0;
    margin: 0;
    background-image: url(./../images/img\ bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-logo {
    margin-left: -10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar {
    background-color: #1a881f;
    width: 100%;
    height: 60.5px;
    position: fixed;
    top: 0px;
    margin: 0px;
    padding: 0px;
    border-bottom: 5px solid rgb(4,51,4);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-items {

    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.nav-img {
    height: 30px;
    margin-right: 6px;
    border-radius: 50%;
}

.nav-text {
    font-size: 25px;
    font-weight: bold;
    color: rgb(19, 4, 4);

}

.nav-items:hover {
    background-color: #5b7b5d;
    transition: 1s;
}
.container{
   
    display: flex;
    justify-content:space-evenly;
    align-items: center;
  
    flex-wrap: wrap;
    
}
.header{
    text-align: center;
    padding-top: 70px;
   
    color: #ac1010;
    font-family:"Roboto",sans-serif;
    text-align: center;
}

.cat-card {
    background-color: #F6EEC9;
    border: 2px solid #43741c;
    border-radius: 8px;
    padding: 20px;
    margin: 40px 65px;
    width:  220px;
    box-shadow: 2px 2px 10px 5px rgba(138, 136, 136);
    float: left;
    text-align: center;
   font-size: 20px;

    
}
.cat-card img {
    max-width: 150px;
    height: 120px;
    border-radius: 15px;
    border: solid #ac1010 1px;
    box-shadow: 2px 2px 10px 5px rgb(138,136,136);    
    transition: transform 0.3s;
}
.cat-card img:hover:hover {
    transform: scale(2.1);
}
.cat-img{
    width: 150px;
    height: 120px;

}


.cat-card h2 {
    margin: 10px 0;
    color: #495057;
}
.cat-card p {
    margin: 5px 0;
    color: #6c757d;
}
.adopt-btn {
    background-color: #EE4E4E;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    
    transition: transform 0.3s;
}
.adopt-btn:hover {
    background-color:#ac1010;
    transform: scale(1.3);
}
.cat-info{
    text-decoration: none;
    color: #6c757d;
}
@media screen and ( min-width:450px)and (max-width: 550px)
{ 
    .nav-img {
        height: 15px;
        padding-left: 2px;
        margin-right: 6px;
        border-radius: 50%;
        flex-direction: column;
        justify-content: center;
    }
    
    .nav-text {
        font-size: 25px;
        font-weight: bold;
        color: rgb(19, 4, 4);
        display: none;
    }
    .header
{
    padding-top: 70px;
    font-size: 30px;
    color: #ac1010;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
    .container
{
    padding-top: 50px;
    margin-top: 30px;
    margin-left: 60px;
    padding-left: 30px;
    display: inline;
    justify-content: space-evenly;
    align-items: center;   
}
    .cat-card {
        background-color: #F6EEC9;
        border: 2px solid #43741c;
        border-radius: 8px;
        padding: 20px;
        margin: 40px 60px;
        width: 300px;
        box-shadow: 2px 2px 10px 5px rgb(138, 136, 136) ;
        float: left;
        text-align: center;
        font-size: 20px;
    }
}
