

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");


body
{
    background-image:url('./../images/Dog_pics/brg.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
.Dogs-container
{
    padding-top: 50px;
    margin-top: 30px;
    margin-left: 50px;
    padding-left: 30px;
    display: flexbox;
    justify-content: space-;
    align-items: center;   
}
.title
{
    padding-top: 20px;
    font-size: 80px;
    color: #ac1010;
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.dog-card {
    background-color: #F6EEC9;
    border: 2px solid #43741c;
    border-radius: 8px;
    padding: 20px;
    margin: 40px 65px;
    width: 300px;
    box-shadow: 2px 2px 10px 5px rgb(138, 136, 136) ;
    float: left;
    text-align: center;
    font-size: 20px;
}

.dog-card-img
{
    max-width: 150px;
    height: 120px;
    border-radius: 15px;
    border: solid #ac1010 1px;
    transition: transform 0.3s;
    box-shadow: 2px 2px 10px 5px rgb(138, 136, 136) ;
}

.dog-card-img:hover:hover {

    transform: scale(2.1);
}
.dog-card-img1:hover:hover {

    transform: scale(2.1);
}
.adopt-btn {
    background-color: #EE4E4E;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
    transition: transform 0.3s;
}
.adopt-btn:hover {
    background-color: #ac1010;
    transform: scale(1.3);
}
@media screen and ( min-width:450px)and (max-width: 550px)
{ 
    .nav-img {
        height: 15px;
        padding-left: 2px;
        margin-right: 6px;
        border-radius: 50%;
        flex-direction: column;
        justify-content: center;
    }
    
    .nav-text {
        font-size: 25px;
        font-weight: bold;
        color: rgb(19, 4, 4);
        display: none;
    }
    .title
{
    padding-top: 70px;
    font-size: 30px;
    color: #ac1010;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
    .Dogs-container
{
    padding-top: 50px;
    margin-top: 30px;
    margin-left: 60px;
    padding-left: 30px;
    display: inline;
    justify-content: space-evenly;
    align-items: center;   
}
    .dog-card {
        background-color: #F6EEC9;
        border: 2px solid #43741c;
        border-radius: 8px;
        padding: 20px;
        margin: 40px 60px;
        width: 300px;
        box-shadow: 2px 2px 10px 5px rgb(138, 136, 136) ;
        float: left;
        text-align: center;
        font-size: 20px;
    }
}