body {
    padding: 0;
    margin:0 ;
    background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3Jhd3BpeGVsX29mZmljZV8zX3dhdGVyY29sb3JfaWxsdXN0cmF0aW9uX29mX2dyZWVuX3Bhc3RlbF9iYWNrZ18wM2M3ODBjOS1lNWY3LTQwMjktODE4Mi0zZWQyNjY5Mjg3ZWYuanBn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
    
}

.body-img {
    height: 900px;
    width: auto;
}

.img {
    height: 700px;
    width: 100%;

}

.adopt-card {
    justify-content: center;
    margin-top: -20%;
    text-align: center;
    padding: 10px;
}

.adopt-card-heading{
    color: white;
}
.adopt-card-desc{
    font-size: 20px;
    color: white;

}
.btn {
    height: 50px;
    width: 10%;
    border-radius: 10px;
    margin: 20px 0px;
    font-size: 20px;
    border: none;
    background-color: #ff7716;

    color: white;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0px 0px 10px 2px #484540;
transition: 0.5s;
}

.content {
    display: flex;

}

.content-heading {
    text-align: center;
    margin-top: -10%;
    margin-bottom: 80px;
    font-size: 50px;
    color: #515252;
}

.left-img {
    height: 500px;
    margin-left: 10px;
}

.card {
    height: 100px;
    width: 650px;
    margin: 30px;
    padding: 5px;
    margin-left: -0px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(180, 168, 168);
    box-shadow: 0px 0px 15px 4px rgb(180, 168, 168);
    background-color: #fff;
}

.card:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

.card-img {
    height: 60px;
    margin: 0 20px;
}


.card-heading {
    font-size: 25px;
    color: #515252;

}

.card-desc {
    font-size: 20px;
    margin-top: -30px;
    color: #66727c;
}

.adoptlove-content {
    min-width: 100vh;
    padding: 20px 0px;
    display: flex;
    position: relative;

}

.pasw-4-life-img {
    height: 80%;
    border-radius: 50%;
    position: absolute;
    left: 35%;
    top: 30px;
display: none;
}
.adoptlove-content{
   background-color: aquamarine;
}
.adoptlove-card {
    width: 80%;
    align-items: end;
    position: relative;
    left: 10%;
    
}

.adoptlove-heading {
    text-align: center;
}

.adoptlove-desc {
    font-size: 25px;
    text-align: center;
}

.homepage-que {
    min-width: 100vh;
    font-size: 30px;
    align-items: center;
    padding: 10px;

}

.que {}

.ans {
    text-align: center;
    font-size: 20px;
margin-left: -20%;
}

.que-card {
    width: 50%;
    position: relative;
    left: 35%;
    margin-bottom: 5px;
}

footer {
    display: flex;
    justify-content: space-around;
}

.header-img {
    height: 140px;
    width: 300px;
margin-left: -10%;
}

.location {
    display: flex;
    margin-top: 20px;
}

.map-img {
    height: 70px;
    margin: 20px 10px 20px 40px;
}

.location-text {
    text-decoration: none;
    font-size: 30px;
    padding: 20px;

}

.online {
    height: 40px;
    margin: 40px 0 20px 20px;

    position: relative;
    right: 20px;
}
.header-icons{
    display: flex;
}
.fotter-img {
    width: 60%;
    margin-left: 20%;
}


/* Small Devices */ @media screen and (max-width: 600px){
 body{
 }
header {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.header-img {
    height: 80px;
}

.location {
    display: flex;
    justify-content: center;
margin-top: -10px;
margin-left: -40px;
}

.map-img {
    height: 40px;
    margin: 20px -10px 0px 60px;
}

.location-text {
    text-decoration: none;
    font-size: 13px;
    width: 60%;
    padding: 20px;

}
.header-icons{
    display: flex;
    position: relative;
    left: -20px;
}
.online {
    height: 25px;
    margin: 40px 0 20px 20px;
  
}


.img {
    height: 300px;
}
.adopt-card {
    margin-top: -30%;
}

.adopt-card-heading{
   font-size: 20px;
}
.adopt-card-desc{
    font-size: 10px;
}
.btn {
    height: 20px;
    width: 20%;
    border-radius: 5px;
    font-size: 10px;  
}
.content-heading {
 position: relative;
 top: -500px;
    font-size: 20px;
}
.content{
    margin-top: -520px;
}
.left-img {
    height: 200px;
    margin-left: 40px;
    display: none;
}


.right-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
margin-left: 10px;
}
.card {
    height: 50px;
    width: 80%;
    padding: 10px;
    margin: 10px;
    position: relative;
    left: 35px;
    bottom: 30px;
}


.card:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.card-img {
    height: 50px;
    margin: 0 20px;
}

.card-heading {
    font-size: 20px;
    color: #515252;
}

.card-desc {
    font-size: 13px;
}

.adoptlove-content {
    min-width: 100%;
    padding: 20px 0px;
    background-color: #E0FBE2;

}

.pasw-4-life-img {
    height: 40%;
    border-radius: 50%;
    position: absolute;
    left: 2%;
    top: 60px;

}

.adoptlove-card {
    width: 70%;
    align-items: end;
    position: relative;
    left: 20%;
}

.adoptlove-heading {
    text-align: center;
    font-size: 20px;
}

.adoptlove-desc {
    font-size: 13px;
    text-align: center;
}

.homepage-que {
    min-width: 100%;
    font-size: 15px;
    
}
.ans {
    font-size: 13px;
}

.que-card {
    width: 50%;
    position: relative;
    left: 25%;
}
}

/* Normal Devices */ 
 @media screen and (min-width: 601px) and (max-width: 768px){
    body{
    }
   footer {
       display: flex;
       justify-content: space-around;
     
   }
   
   .header-img {
       height: 60px;
       margin-top: 20px;
   }
   
   .location {
   margin-top: 15px;
   margin-left: -100px;
   }
   
   .map-img {
       height: 40px;
   }
   
   .location-text {
       font-size: 13px;   
   }
   .header-icons{
       display: flex;
       position: relative;
       left: -20px;
       bottom: 5px;
   }
   .online {
       height: 25px;     
   }
   
   
   .img {
       height: 350px;
   }
   .adopt-card {
       margin-top: -20%;
   }
   marquee{
    margin-top: 20px;
    margin-bottom: -40px;
   }
   .adopt-card-heading{
      font-size: 20px;
    }
   .adopt-card-desc{
       font-size: 10px;
   }
   .btn {
       height: 20px;
       width: 20%;
       border-radius: 5px;
       font-size: 10px;  
   }
   .content-heading {
    position: relative;
    top: -500px;
       font-size: 20px;
   }
   .content{
       margin-top: -520px;
   }
   .left-img {
       height: 200px;
       margin-left: 40px;
       display: none;
   }
   
   
   .right-content{
     display: flex;
     flex-direction: column;
     justify-content: center;
   margin-left: 10px;
   }
   .card {
       height: 70px;
       width: 90%;
       justify-content: center;
       margin-left: 20%;
       margin-bottom:10px;
   }
   
   .card:hover {
       height: 100px;
   }
   
   .card-img {
       height: 50px;
       margin: 0 20px;
   }
   
   .card-heading {
       font-size: 20px;
       color: #515252;
   }
   
   .card-desc {
display: none;
   }
   .card-desc:hover{
    
    font-size: 13px;
width: 90%;
}
   
   .adoptlove-content {
       min-width: 100%;
       padding: 20px 0px;
       background-color: #E0FBE2;
   
   }
   
   .pasw-4-life-img {
       height: 40%;
       border-radius: 50%;
       position: absolute;
       left: 2%;
       top: 60px;
   
   }
   
   .adoptlove-card {
       width: 70%;
       align-items: end;
       position: relative;
       left: 20%;
   }
   
   .adoptlove-heading {
       text-align: center;
       font-size: 20px;
   }
   
   .adoptlove-desc {
       font-size: 13px;
       text-align: center;
   }
   
   .homepage-que {
       min-width: 100%;
       font-size: 15px;
       
   }
   .ans {
       font-size: 13px;
       width: 100%;
   }
   
   .que-card {
       width: 50%;
       position: relative;
       left: 35%;
   
   }
   

 } */

/* Tablets Devices */ 
/* @media screen and (min-width: 769px) and (max-width: 992px){ } */

/* Large Devices */
 /* @media screen and (min-width: 993px) and (max-width: 1200px){ } */